/* ================== header ================= */
.header {
    background-color: #6d2e46;
    color: #ece2d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


/* ================== search ================= */

.searchBox {
    background-color: #d5b9b2;
    padding: 15px 0px 10px 0px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.searchBox button{
        border: 1px solid #6d2e46;
    }
    .searchBox button:hover {
        background-color: #6d2e46;
        color:white;
}

.input {
    margin: 20px;
    padding: 5px;
}


/* ================== table ================== */

.table {
    margin: 20px 15px 10px 15px;
}

.table th {
    color: #6d2e46;
}


/* ================== footer ================= */

.footer {
    background-color: #6d2e46;
    color: #ece2d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}